/* Home Page Style */
.home-page {
  /* Hero */
  .hero {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    .hero-area {  
      margin-top: 4%;
      padding: 4em 0;
      background-color: var(--base-white);
      background-image: linear-gradient(#f2f2f2 1px, transparent 1px),
        linear-gradient(to right, #f2f2f2 1px, var(--base-white) 1px);
      background-size: 34px 34px;
    }
    .title-box {
      h1 {
        font-size: 40px;
        span {
          background-color: var(--brand-500);
          padding: 0.1em 0.3em;
          border-radius: 12px;
        }
      }
    }
    .subtitle-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em 0;
      p {
        width: 60%;
        color: var(--gray-500);
      }
    }
  }
  /* Selector */
  .selector-container {
    margin: 2em;
    display: grid;
    align-items: center;
    justify-content: center;
    .langs-selector {
      background-color: var(--gray-50);
      padding: 0.5em;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 1em;
      .lang-btn {
        display: flex;
        align-items: center;
        background-color: transparent;
        gap: 0.5em;
        padding: 1em;
        border-radius: 12px;
        position: relative;
        .icon {
          width: 35px;
          filter: grayscale(1) contrast(0.5);
          transition: 0.4s;
        }
        span {
          color: var(--gray-500);
          display: none;
        }
        &::before {
          content: attr(data-name);
          position: absolute;
          translate: -50% 50%;
          left: 50%;
          top: -50%;
          background-color: var(--brand-500);
          color: var(--base-black);
          padding: 0.3em 1em;
          border-radius: 8px;
          font-size: 13px;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s;
        }
        &:hover {
          &::before {
            visibility: visible;
            opacity: 1;
            top: -90%;
          }
        }
      }
      .active-lang,
      .lang-btn:hover {
        background-color: var(--base-white);
        .icon {
          filter: grayscale(0);
        }
      }
    }
  }
  /* Formats */
  .formats-container {
    margin: 2em 15%;
    display: grid;
    position: relative;
    .filter-container {
      margin: 3em 0 3em 0;
      display: grid;
      align-items: center;
      justify-content: center;
      .categories-container {
        margin: 1em;
        display: flex;
        gap: 0.5em;
        .category-box {
          color: var(--gray-500);
          background-color: var(--gray-50);
          padding: 0.6em 1.5em;
          font-size: 12px;
          border-radius: 2em;
          display: flex;
          align-items: center;
          gap: 0;
          span {
            transition: 0.3s;
            font-size: 0px;
          }
        }
        .active-category {
          background-color: var(--brand-500);
          color: var(--base-black);
          gap: 0.5em;
          span {
            font-size: 17px;
          }
        }
      }
    }
    .listing-container {
      position: relative;
      .listing-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1em;
        .format-box {
          padding: 1em;
          border-radius: 12px;
          display: flex;
          align-items: center;
          gap: 1.5em;
          background-color: transparent;
          width: 100%;
          .icon {
            display: flex;
            align-items: center;
            padding: 0.7em;
            border-radius: 10px;
            background-color: var(--gray-50);
            color: var(--gray-500);
            transition: 0.4s;
            span {
              font-size: 18px;
            }
          }
          .info {
            text-align: left;
            line-height: 1.8em;
            p {
              font-size: 16px;
              color: rgb(81, 81, 81);
            }
            span {
              font-size: 12px;
              color: var(--gray-500);
            }
          }
        }
        .active-format,
        .format-box:hover {
          background-color: var(--gray-50);
          .icon {
            background-color: var(--gray-500);
            color: var(--gray-50);
          }
        }
      }
      .format-details {
        position: absolute;
        padding: 1em 0;
        top: 25%;
        width: 38%;
        display: grid;
        gap: 1em;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        h3 {
          font-size: 13px;
          display: flex;
          align-items: center;
          gap: 0.5em;
          background-color: var(--gray-50);
          color: var(--gray-500);
          padding: 0.5em 1em;
          border-radius: 2em;
          width: fit-content;
          span {
            font-size: 18px;
          }
        }
        article,
        ul {
          padding: 1em;
          line-height: 1.8em;
          font-size: 13px;
          color: var(--gray-500);
        }
        ul {
          list-style-type: circle;
          padding: 1em 2em;
        }
      }
      .active-details {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  /* Preview */
  .preview-container {
    position: absolute;
    width: 60%;
    top: 10em;
    opacity: 0;
    right: 0;
    height: -webkit-fill-available;
    visibility: hidden;
    translate: 1.5em 0;
    transition: 0.3s;
    .code-box {
      height: 100%;
      // Head
      .code-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #00101e;
        padding: 0.8em 1em;
        border-radius: 1em 1em 0 0;
        .code-control {
          display: flex;
          align-items: center;
          gap: 0.5em;
          .circle {
            width: 15px;
            height: 15px;
            clip-path: circle();
            cursor: default;
            &:nth-child(1) {
              background-color: #ff6057;
              cursor: pointer;
              display: flex;
              align-items: center;
              gap: 0.2em;
              clip-path: none;
              width: fit-content;
              height: fit-content;
              padding: 0 0.7em 0 0.5em;
              border-radius: 12px;
              span {
                font-size: 13px;
              }
              &:hover {
                padding: 0 0.7em 0 1.5em;
              }
            }
            &:nth-child(2) {
              background-color: #ffbd2f;
            }
            &:nth-child(3) {
              background-color: #29c93f;
            }
          }
        }
        .code-name {
          font-size: 14px;
          color: var(--gray-500);
        }
        .code-actions {
          .copy-action {
            display: flex;
            align-items: center;
            gap: 0.5em;
            background-color: transparent;
            color: var(--gray-500);
            padding: 0.5em;
            font-size: 14px;
            border-radius: 0.5em;
            span {
              font-size: 18px;
            }
            .checked {
              color: green;
            }
            &:hover {
              background-color: rgb(1, 34, 61);
              color: var(--base-white);
            }
          }
        }
      }
      // Content
      .code-content {
        height: 100%;
        pre {
          height: 100% !important;
          margin: 0 !important;
        }
      }
    }
  }
  .preview-show {
    opacity: 1;
    visibility: visible;
    translate: 0;
  }
  /* Faq */
  .faq-container {
    padding: 5em 10%;
    background-color: var(--gray-50);
    .faq-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      background-color: var(--base-white);
      padding: 3em;
      border-radius: 2em;
      // headline
      .headline {
        h1 {
          font-size: 50px;
        }
        p {
          color: var(--gray-500);
        }
      }
      // QA
      .q-a {
        .tab {
          .question-tab {
            width: 100%;
            padding: 1.5em 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            background-color: transparent;
          }
          .answer-tab {
            display: grid;
            grid-template-rows: 0fr;
            transition: 0.3s;
            border-bottom: 1px solid var(--gray-50);
            article {
              padding: 0 1.5em;
              overflow: hidden;
              font-size: 14px;
              color: var(--gray-500);
            }
          }
          .active-answer-tab {
            grid-template-rows: 1fr;
            article {
              padding: 0 1.5em 2em 1.5em;
            }
          }
        }
      }
    }
  }
  /* Why Us */
  .why-us-container {
    margin: 5em 10%;
    .why-us-box {
      margin: 5em 0;
      display: grid;
      grid-template-columns: auto 10% 1fr;
      gap: 1em;
      .solutions-container {
        display: flex;
        gap: 2em;
        .sol-column {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          gap: 1em;
          .solution-box {
            padding: 1em;
            border-radius: 50%;
            display: flex;
            align-items: center;
            color: var(--gray-500);
            box-shadow: rgba(145, 145, 154, 0.25) 0px 2px 5px -1px,
              rgba(149, 147, 147, 0.3) 0px 1px 3px -1px;
          }
        }
      }
      .weapon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--gray-50);
        border: 2px solid rgb(241, 241, 241);
        border-radius: 12px;
        .weapon-box {
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .icon {
            color: var(--gray-500);
            span {
              font-size: 30px;
            }
          }
          .bar {
            display: none;
            background-color: var(--base-white);
            width: 100%;
            height: 8px;
            border-radius: 4px;
            border-left: 2px solid var(--gray-500);
            border-right: 2px solid var(--gray-500);
            &:nth-child(n + 1) {
              border-bottom: 2px solid var(--gray-500);
            }
            &:nth-child(1) {
              border-top: 2px solid var(--gray-500);
            }
            &:nth-child(2) {
              width: 80%;
            }
            &:nth-child(3) {
              width: 50%;
            }
            &:nth-child(n + 4) {
              width: 10%;
            }
          }
        }
      }
      .enemies-container {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        background-color: var(--base-white);
        background-image: linear-gradient(#f2f2f2 1px, transparent 1px),
          linear-gradient(to right, #f2f2f2 1px, #ffffff 1px);
        background-size: 38px 38px;
        position: relative;
        .enemy-box {
          position: absolute;
          display: flex;
          align-items: center;
          gap: 0.5em;
          padding: 0.4em 1em;
          font-size: 13px;
          border-radius: 2em;
          box-shadow: rgba(145, 145, 154, 0.25) 0px 2px 5px -1px,
            rgba(149, 147, 147, 0.3) 0px 1px 3px -1px;
          width: fit-content;
          height: fit-content;
          background-color: var(--base-white);
          right: 0;
          filter: none;
          visibility: visible;
          opacity: 1;
          span {
            color: var(--error-500);
          }
          $duration: 15s;
          // Moves
          &:nth-child(1) {
            top: 0%;
            animation: move-left-to-right $duration
              cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
            animation-delay: 0s;
          }
          &:nth-child(2) {
            top: 20%;
            animation: move-left-to-right $duration
              cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
            animation-delay: 0.5s;
          }
          &:nth-child(3) {
            top: 45%;
            animation: move-left-to-right $duration
              cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
            animation-delay: 1s;
          }
          &:nth-child(4) {
            bottom: 20%;
            animation: move-left-to-right $duration
              cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
            animation-delay: 1.5s;
          }
          &:nth-child(5) {
            bottom: 0%;
            animation: move-left-to-right $duration
              cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
            animation-delay: 2s;
          }
        }
        @keyframes move-left-to-right {
          0% {
            right: 0;
          }
          25% {
            right: 25%;
          }
          50% {
            right: 50%;
          }
          75% {
            right: 75%;
          }
          80% {
            filter: none;
            visibility: visible;
            opacity: 1;
          }
          100% {
            right: 80%;
            filter: blur(5px);
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }
  }
  /* Features */
  .features-container {
    padding: 5em 10%;
    .cards {
      margin: 3em 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3em;
      .card {
        text-align: center;
        box-shadow: rgba(123, 123, 123, 0.1) 0px 4px 12px;
        padding: 3em;
        border-radius: 1.5em;
        img {
          width: 60%;
          margin-bottom: 5em;
          background-color: var(--base-white);
          background-image: linear-gradient(#f2f2f2 1px, transparent 1px),
            linear-gradient(to right, #f2f2f2 1px, #ffffff 1px);
          background-size: 34px 34px;
          padding: 1em;
        }
        .content {
          p {
            margin-top: 1em;
            font-size: 14px;
            color: var(--gray-500);
          }
        }
      }
    }
  }
  /* How to use */
  .how-to-use-container {
    padding: 5em 10%;
    .how-to-use-box {
      margin: 3em 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      .steps-box {
        display: flex;
        align-items: center;
        gap: 3em;
        .steps {
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            padding: 1em;
            color: var(--gray-500);
            background-color: var(--gray-50);
            clip-path: circle();
          }
          .bar {
            margin: 3px;
            width: 3px;
            height: 100px;
            background-color: var(--gray-50);
          }
          .active-step {
            background-color: var(--brand-500);
            color: var(--base-black);
          }
          .active-bar {
            background-color: var(--brand-500);
          }
        }
        .current-step {
          .step-area {
            display: grid;
            grid-template-rows: 0fr;
            transition: 0.4s;
            div {
              overflow: hidden;
              h1 {
                font-size: 35px;
              }
              p {
                color: var(--gray-500);
                font-size: 14px;
                line-height: 1.8em;
                margin: 1em 0;
              }
            }
          }
          .step-area-active {
            grid-template-rows: 1fr;
          }
        }
      }
      .preview-box {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          background-color: var(--base-white);
          background-image: linear-gradient(#f2f2f2 1px, transparent 1px),
            linear-gradient(to right, #f2f2f2 1px, #ffffff 1px);
          background-size: 34px 34px;
          width: 50%;
        }
      }
    }
  }
}

// -- Section Head --
.section-head {
  text-align: center;
  margin: 1em;
  .title {
    line-height: 3em;
    h5 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
    }
    h1 {
      font-size: 40px;
      line-height: 1.8em;
    }
  }
}


// Responsive
@media (max-width: 900px) {
  .home-page {
    .hero .hero-area {
      .title-box h1 {
        font-size: 35px;
      }
    }
    .selector-container {
      .langs-selector {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}

@media (max-width: 750px) {
  .home-page {
    .hero .hero-area {
      padding: 4em 1em;
      .title-box h1 {
        font-size: 30px;
      }
      .subtitle-box p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 470px) {
  .home-page {
    .selector-container {
      .langs-selector {
        gap: .5em;
        .lang-btn{
          .icon {
            width: 28px;
          }
        }
      }
    }
  }
}
