// Base Layout Style
.base-app {
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  .header-container {
    padding: 0.8em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-shadow: 0 4px 8px rgba(29, 29, 27, 0.1);
    background-color: var(--base-white);
    a,
    .logo {
      display: grid;
      align-items: center;
      text-align: center;
      color: var(--gray-500);
      font-size: 13px;
    }
    // Logo
    .logo {
      display: grid;
      justify-content: center;
      align-items: center;
      img {
        background-color: var(--base-black);
        width: 40px;
        border-radius: 1em;
        padding: 0.5em;
      }
    }
    // Link
    a {
      padding: 0em 1.5em;
      border-radius: 12px;
      &:hover {
        background-color: var(--gray-50);
        color: var(--base-black);
      }
    }
    .logo-box {
      display: flex;
      justify-content: center;
      a {
        padding: 0px;
        width: fit-content;
      }
    }
    .header-toggle {
      display: none;
    }
  }
  .header-mini {
    position: fixed;
    background-color: var(--base-white);
    box-shadow: 0 4px 8px rgba(29, 29, 27, 0.1);
    border-radius: 1em;
    inset: 0;
    height: fit-content;
    margin: 2em;
    padding: 2em;
    top: 3em;
    visibility: hidden;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
    text-align: center;
    z-index: 9999;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.43, 1.19);
    a {
      color: var(--gray-500);
      padding: 1.2em;
      border-radius: 12px;
      &:hover {
        background-color: var(--gray-50);
        color: var(--base-black);
      }
    }
  }
  .active-header-mini {
    top: 5em;
    visibility: visible;
    opacity: 1;
  }
}

/* Footer */
footer {
  padding: 5em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  .owner {
    display: flex;
    align-items: center;
    gap: 1em;
    .logo {
      img {
        background-color: var(--base-black);
        width: 40px;
        border-radius: 1em;
        padding: 0.5em;
      }
    }
    p {
      display: flex;
      align-items: center;
      gap: 0.3em;
      a {
        color: var(--gray-500);
      }
    }
  }
}

/* Beta Block */
.beta-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
  .beta-picture {
    position: relative;
    img {
      background-color: var(--base-white);
      background-image: linear-gradient(#f2f2f2 1px, transparent 1px),
        linear-gradient(to right, #f2f2f2 1px, #ffffff 1px);
      background-size: 34px 34px;
      padding: 2em;
      width: 250px;
    }
    &::before {
      content: "Sorry :(";
      color: var(--base-black);
      position: absolute;
      font-size: 25px;
      left: 25%;
      top: 32%;
    }
  }
  .beta-content {
    padding: 2em;
    h1 {
      font-size: 25px;
      span {
        background-color: var(--brand-500);
        padding: 0.1em 0.3em;
        border-radius: 12px;
      }
    }
    .message {
      margin-top: 1em;
      display: flex;
      justify-content: center;
      p {
        width: 90%;
        font-size: 14px;
        color: var(--gray-500);
      }
    }
  }
}

// Responsive
@media (max-width: 730px) {
  footer {
    flex-direction: column;
    gap: 2em;
    text-align: center;
    .owner .logo img {
      width: 30px;
    }
  }
}

@media (max-width: 650px) {
  .header {
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-shadow: none;
      a {
        display: none;
      }
      .header-toggle {
        display: flex;
        align-items: center;
        padding: 1em;
        border-radius: 1em;
        background-color: var(--base-white);
        box-shadow: 0 4px 8px rgba(29, 29, 27, 0.1);
      }
    }
  }
}
